.img {
  position: relative !important;
}

.img-titulo {
  background-color: rgba(255, 0, 0, 0.4);
  width: 15%;
  color: white;
  position: relative !important;
  margin-top: -130px;
  margin-left: 37.5%;
}
